<%- include('../includes/head.ejs') %>
    </head>

    <body>

        <%- include('../includes/navigation.ejs') %>

                <div>
                    <%= `Total: NGN ${breakdown.total}` %>
                </div>
                <div>
                    <%= `Disbursed: NGN ${breakdown.disbursed}` %>
                </div>
                <div>
                    <%= `Balance: NGN ${breakdown.balance}` %>
                </div>
<!-- 
                <form action="/admin/breakdown" method="POST">
                    <label for="total">Total</label>
                    <input type="number" name="total">
                    <label for="disbursed">Disbursed</label>
                    <input type="number" name="disbursed">
                    <label for="balance">Balance</label>
                    <input type="number" name="balance">
                    <button type="submit">Submit</button>
                </form> -->

                <div>Disbursed Lately? How much?</div>
                <form action="/admin/disburse" method="POST">
                    <label for="money">Amount Disbursed</label>
                    <input type="number" name="disbursed">
                    <button type="submit">Submit</button>
                </form>

    </body>

    </html>