<%- include('../includes/head.ejs') %>
    </head>

    <body>

        <%- include('../includes/navigation.ejs') %>

                <div>
                    <%= `Total: NGN ${breakdown.total}` %>
                </div>
                <div>
                    <%= `Disbursed: NGN ${breakdown.disbursed}` %>
                </div>
                <div>
                    <%= `Balance: NGN ${breakdown.balance}` %>
                </div>

                <div>Disbursed Lately? How much?</div>
                <form action="/admin/disburse" method="POST">
                    <label for="money">Amount Disbursed</label>
                    <input type="number" name="disbursed">
                    <button type="submit">Submit</button>
                </form>

    </body>

    </html>