<%- include('../includes/head.ejs') %>
    </head>
<body>

    <%- include('../includes/navigation.ejs') %>
    
<% if (donations) { %>
    
    <% if (verifySuccess) { %>
        <div>
            <%= verifySuccess %>
        </div>
        <% } %>
        <% if (errorMessage) { %>
        <div>
            <%= errorMessage %>
        </div>
        <% } %>
        
    <table>
        <tr>
            <th>Donations</th>
        </tr>
        <tr>
            <th>Date</th>
            <th>Donor</th>
            <th>Amount</th>
            <th>Verify</th>
        </tr>
        <% donations.forEach( function (donation) { %>
            <% let route = `/admin/verify/${donation._id}` %>
            <form action= <%= route %> method="POST">
             <tr>
                <th> <%= JSON.stringify(donation.date).slice(1, 11) %> </th>
                <th> <%= `${donation.donor.firstname} ${donation.donor.lastname}` %> </th>
                <th> <%= donation.amount %> </th>
                <th><button type="submit">Verify</button></th>
            </tr>   
            </form>            
            <% }) %>
    </table>
    <% } %>
</body>
</html>