<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= `CACSA-UI | ${docTitle}` %>
    </title>
    <link rel="stylesheet" href="../css/basic.css">
    <link rel="stylesheet" href="../css/donor.css">
</head>

<body>
    <li class="nav">
        <form action="/auth/logout" , method="POST">
            <button class="logout" >Logout</button>
        </form>
    </li>

    <% if (donor) { %>
        <section class="container">
            <h2 class="greeting">Welcome, <%= donor.firstname %>
            </h2>

            <h3 class="table-label">Your Donation Record</h3>

            <table class="table">
                <tr class="tr">
                    <th>Date</th>
                    <th>Amount</th>
                    <th>Verification</th>
                </tr>
                <% if ( donations ) { %>
                    <% var total=0 %>
                        <% for (let donation of donations) { %>
                            <tr>
                                <td>
                                    <%= JSON.stringify(donation.date).slice(1, 11) %>
                                </td>
                                <td>
                                    NGN <%= donation.amount %>
                                </td>
                                <td>
                                    <%= donation.verified %>
                                </td>
                            </tr>
                            <% total +=Number(donation.amount) %>
                                <% }; %>
                                    <% } %>
                                        <tr>
                                            <th>Total: </th>
                                            <th>NGN <%= total %>
                                            </th>
                                        </tr>
            </table>

            <form class="form" action="/donor/notify" method="POST">
                <h3 class="form-header">Just made a donation? Notify Admin</h3>

                <div class="form-group">
                    <label for="amount">Amount: </label>
                    <input type="number" name="amount" required>
                </div>
                <div class="form-group">
                    <label for="Date">Date: </label>
                    <input type="date" name="date" required>
                </div>
                <button>Submit</button>
            </form>
        </section>
        <% } %>
</body>

</html>